language: ruby
sudo: required
dist: trusty
script: rake
notifications:
  email: false
  webhooks:
    urls:
      secure: B6qT/X9GJPFuGgm4IacgQqoPBoqqiohexSGT2C7miNzigjd9Gl4vTLU4ogNW5bjBif7G4b6ehxNeLEliSzsOmV6YoR3SomHcjFZ/hoIfYDjmdD8rJIdP0K2VeKUQnBveP3hK3wCk4S30Mx57Na7x4mnd+PsDXHCPFIAj+JX2flA=
    on_success: change
    on_failure: always
    on_start: always
os:
- linux
- osx
rvm:
- 2.0.0
matrix:
  exclude:
  - rvm: 2.0.0
  include:
  - rvm: rbx-3.56
    env: RBX_RUBY_COMPAT=2.3.1 RBX_VERSION=3.56
    os: linux
  - rvm: rbx-3
    env: RBX_RUBY_COMPAT=2.3.1 RBX_VERSION=3.56
    os: linux
  - rvm: rbx
    env: RBX_RUBY_COMPAT=2.3.1 RBX_VERSION=3.56
    os: linux
  - rvm: rbx-3.56
    env: RBX_RUBY_COMPAT=2.3.1 RBX_VERSION=3.56
    os: osx
  - rvm: rbx-3
    env: RBX_RUBY_COMPAT=2.3.1 RBX_VERSION=3.56
    os: osx
  - rvm: rbx
    env: RBX_RUBY_COMPAT=2.3.1 RBX_VERSION=3.56
    os: osx
